.nope-enter-active {
    transform: translate(-500%, 0) rotate(-150deg);
    -webkit-transform: translate(-500%, 0) rotate(-150deg);
    transition-duration: 2s;
}
.nope-exit-active {
    transform: translate(-500%, 0) rotate(-150deg);
    -webkit-transform: translate(-500%, 0) rotate(-150deg);
    transition-duration: 2s;
}

.like-enter-active {
    transform: translate(500%, 0) rotate(150deg);
    -webkit-transform: translate(500%, 0) rotate(150deg);
    transition-duration: 2s;
}
.like-exit-active {
    transform: translate(500%, 0) rotate(150deg);
    -webkit-transform: translate(500%, 0) rotate(150deg);
    transition-duration: 2s;
}