.nope-enter-active {
    transform: translateX(-400%) skew(90deg, -90deg);
    transition-duration: 1.2s;
}
.nope-exit-active {
    transform: translateX(-400%) skew(90deg, -90deg);
    transition-duration: 1.2s;
}

.like-enter-active {
    transform: translateX(400%) skew(-90deg, 90deg);
    transition-duration: 1.2s;
}
.like-exit-active {
    transform: translateX(400%) skew(-90deg, 90deg);
    transition-duration: 1.2s;
}