/* .input-enter {
    opacity: 0.1;
    transform: scale(0.9) translateY(50%);
}
.input-enter-active {
    opacity: 1;
    transform: scale(1) translateY(0%);
    transition: all 300ms ease-out;
}
.input-exit {
    opacity: 1;
    transform: scale(1) translateY(0%);
}
.input-exit-active {
    opacity: 0.1;
    transform: scale(0.9) translateY(50%);
    transition: all 300ms ease-out;
} */