.alert-enter {
    opacity: 0;
}
.alert-enter-active {
    opacity: 1;
    transform: translate3d(100%, 0, 0);
}
.alert-exit {
    opacity: 0;
}
.alert-exit-active {
    opacity: 1;
    transform: translate3d(-100%, 0, 0);
}